.card {

    display: flex;
    flex-wrap: wrap;

    background: $lightlightgrey;
    color: $light-text-color;
    font-weight: bold;
    width: 200px;
    height: 100px;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 3px;

    position: relative;

    p {
        font-weight: normal;
        font-size: small;
    }

    &:hover .clic-star {
        opacity: 1.0;
    }

}

.light-bg-card {
    color: $light-text-color;
}

.favorite-star,
.clic-star {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.favorite-star {
    color: $yellow;
}

.clic-star {
    opacity: 0.0;
}

.bottom-right-icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.workspace-group {
    margin: 25px 0px;
}