@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");
* {
  font-family: inter, sans-serif;
}

.workspace-card-container {
  display: flex;
  flex-wrap: wrap;
}

.workspace-card {
  background: #F1F2F4;
  color: #ffffff;
  font-weight: bold;
  width: 200px;
  height: 100px;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  position: relative;
}
.workspace-card p {
  font-weight: normal;
  font-size: small;
}
.workspace-card:hover .clic-star {
  opacity: 1;
}

.forest-card {
  background: url(../assets/imgs/IMG_20210425_145446.jpg) center/cover;
}

.marly-card {
  background: url(../assets/imgs/IMG_20181118_152709.jpg) center/cover;
}

.gvv-card {
  background: url(../assets/imgs/20230903_151040.jpg) center/cover;
}

.webapp-card {
  background: url(../assets/imgs/code_editor.jpg) center/cover;
}

.projects-card {
  background: url(../assets/imgs/welding.jpg) center/cover;
}

.devops-card {
  background: url(../assets/imgs/jenkins.GIF) center/cover;
  color: #080808;
}

.training-card {
  background: url(../assets/imgs/training-concept-image.jpg) center/cover;
}

.light-bg-card {
  color: #44546f;
}

.favorite-star,
.clic-star {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.favorite-star {
  color: #e2b203;
}

.clic-star {
  opacity: 0;
}

.bottom-right-icon {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.workspace-group {
  margin: 25px 0px;
}

body {
  color: #44546f;
  box-sizing: border-box;
}

.icon {
  font-size: 1.2rem;
  margin: 0px 5px;
}

.user-icon {
  background: #FF991F !important;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #080808;
  font-weight: bold;
  border-radius: 20px;
  padding-top: 3px;
}

.w {
  height: 30px;
  width: 30px;
  color: #ffffff;
  background-image: linear-gradient(#c9372c, #fda261) !important;
  border-radius: 5px;
  border: none;
  margin: 15px;
  padding: 5px !important;
}

/*
btn-1   workspace left sidebar top menu btn-ltm
btn-2   workspace left sidebar workspace menu btn-lwm
btn-3   workspace horizontal menu btn-hm
btn-4   workspace horizontal menu shopping
*/
.btn-1,
.btn-2,
.btn-3,
.btn-4 {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px;
  padding-bottom: 8px;
}
.btn-1:hover,
.btn-2:hover,
.btn-3:hover,
.btn-4:hover {
  background: #e6e6e6;
}

.btn-2 {
  margin-left: 2rem;
}

.btn-3 {
  border-radius: 5px;
  background-color: #F1F2F4;
  display: inline-block;
  padding: 5px;
}

.btn-4 {
  background-color: #F1F2F4;
  color: purple;
  padding: 5px;
}

.fa-bell {
  background-color: #0C66E4;
  color: #ffffff;
}

.button-icon {
  padding: 10px;
  border-radius: 30px;
}
.button-icon:hover {
  background: #d4d7de;
}

.input-search {
  margin: 0px 5px;
  border-radius: 5px;
  padding-left: 25px;
  background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
  background-size: 20px;
  height: 30px;
  border: 1px solid lightgrey;
}

#left-sidebar {
  background-color: #212529;
  overflow-x: hidden;
  overflow-y: auto;
}
#left-sidebar .table-button {
  display: flex;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 5px;
  background-color: #212529;
  border-radius: 5px;
  color: #ffffff;
}
#left-sidebar .table-button .table-thumbnail {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
#left-sidebar .table-button .bi-three-dots,
#left-sidebar .table-button .bi-star {
  visibility: hidden;
}
#left-sidebar .table-button .bi-three-dots:hover,
#left-sidebar .table-button .bi-star:hover {
  font-size: 1.2rem;
  font-weight: bold;
}
#left-sidebar .table-button:hover {
  background: #3c444b;
}
#left-sidebar .table-button:hover .bi-three-dots,
#left-sidebar .table-button:hover .bi-star {
  visibility: visible;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.open-sidebar {
  min-width: 260px;
  max-width: 260px;
}
.open-sidebar div {
  visibility: visible;
}

.close-sidebar {
  min-width: 20px;
  max-width: 20px;
}
.close-sidebar div {
  visibility: hidden;
}

#tasklist-workspace {
  background: url(../imgs/code_editor.jpg) center/cover;
}

#internal-nav {
  height: 68px;
  background: url(../imgs/code_editor_blurred.jpg) center/cover;
}

.task-list {
  background: #F1F2F4;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  min-width: 275px;
  max-width: 275px;
  overflow: auto;
}

.list-name {
  background: #F1F2F4;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}

.task {
  box-shadow: 1px 1px 2px 0px grey;
}
.task:hover {
  border: 2px solid blue;
}
.task:hover .modif-icon {
  display: block;
}
.task .modif-icon {
  display: none;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  padding-left: 10px;
  padding-top: 5px;
  margin: 10px;
}
.task .modif-icon:hover {
  background: lightgrey;
}

.color-tag {
  height: 10px;
  width: 40px;
  margin: 5px;
  border-radius: 5px;
}

.card-img-top {
  width: 80%;
  margin: 10px;
  max-height: 120px;
}

.create-task {
  background: #F1F2F4;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
}
.create-task:hover {
  background: #d4d7de;
}
.create-task .create-task-icon {
  border-radius: 50%;
  padding: 5px;
}
.create-task .create-task-icon:hover {
  background: #d4d7de;
}

.tasklist-menu-icon {
  border-radius: 50%;
  padding: 5px;
}
.tasklist-menu-icon:hover {
  background: #d4d7de;
}

.table-list {
  padding: 0 !important;
}

.try-it {
  background-image: linear-gradient(to right, #6e5dc6, #d371bd);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
}
.try-it:hover {
  background-image: linear-gradient(to right, #172b4d, #d371bd);
}/*# sourceMappingURL=styles.css.map */