#main-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
}

.open-sidebar {
    min-width: 260px;
    max-width: 260px;
    background-color: $lightgrey;
}

.open-sidebar div {
    visibility: visible;
}

.close-sidebar {
    min-width: 20px;
    max-width: 20px;
}

.close-sidebar div {
    visibility: hidden;
}