body {
    background-color: $light-bg;
}

/*
btn-1   workspace left sidebar top menu btn-ltm
btn-2   workspace left sidebar workspace menu btn-lwm
btn-3   workspace horizontal menu btn-hm
btn-4   workspace horizontal menu shopping
*/
.btn-1,
.btn-2,
.btn-3,
.btn-4 {
    background-color: $light-button-bg;
    border-radius: 8px;
    padding: 8px;
    padding-bottom: 8px;

    &:hover {
        background: $light-button-bg-hover;
    }
}

.btn-2 {
    // margin-left: 2rem;
    // background: red;
}

.btn-3 {
    border-radius: 5px;
    background-color: $grey-button-bg;
    display: inline-block;
    padding: 5px;
}

.btn-4 {
    background-color: $grey-button-bg;
    color: $purple;
    padding: 5px;
}

.fa-bell {
    background-color: $blue-button;
    color: $white;
}

.button-icon {
    padding: 10px;
    border-radius: 30px;

    &:hover {
        background: $grey-button-bg-hover;
    }
}

.input-search {
    margin: 0px 5px;
    border-radius: 5px;
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    height: 30px;
    border: 1px solid $grey;
}

.w {
    height: 30px;
    width: 30px;
    color: $white;
    background-image: linear-gradient($w-gradient-start, $w-gradient-end) !important;
    border-radius: 5px;
    border: none;
    margin: 15px;
    padding: 5px !important;
}

.try-it {
    background-image: linear-gradient(to right,
            $try-it-gradient-start,
            $try-it-gradient-end);
    color: $white;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-image: linear-gradient(to right,
                $try-it-gradient-hover,
                $try-it-gradient-end);
    }
}

#main-tasklist {
    background-color: $light-bg;

}

#internal-nav {
    height: 68px;
    background: url(../assets/imgs/code_editor_blurred.jpg) center/cover;
}

.present {
    display: block;
}

.absent {
    display: none;
}

.cancel-create {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $grey-button-bg-hover;
    }
}

#list-name-input {
    width: 97%;
}